.pure-button {
    border-radius: 4px;
    border: 1px solid #ccc;
}

.btn-xs {
    font-size: 70%;
}
.btn-s {
    font-size: 85%;
}
.btn-lg {
    font-size: 110%;
}
.btn-xl {
    font-size: 125%;
}

.btn-primary,
.btn-success,
.btn-error,
.btn-danger,
.btn-warning,
.btn-secondary {
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid transparent !important;
}
.btn-primary {
    background: rgb(0, 120, 231);
    border: 1px solid rgb(0, 120, 231) !important;
}
.btn-success {
    background: rgb(28, 184, 65);
    border: 1px solid rgb(28, 184, 65) !important;
}
.btn-error,
.btn-danger {
    background: rgb(202, 60, 60);
    border: 1px solid rgb(202, 60, 60) !important;
}
.btn-warning {
    background: rgb(223, 117, 20);
    border: 1px solid rgb(223, 117, 20) !important;
}
.btn-secondary {
    background: rgb(66, 184, 221);
    border: 1px solid rgb(66, 184, 221) !important;
}


.btn-primary-outline {
    color: rgb(0, 120, 231);
    background: white;
    border: 1px solid rgb(0, 120, 231) !important;
}
.btn-primary-outline:hover {
    color: white;
    background: rgb(0, 120, 231);
    border: 1px solid rgb(0, 120, 231) !important;
}
.btn-success-outline {
    color: rgb(28, 184, 65);
    background: white;
    border: 1px solid rgb(28, 184, 65) !important;
}
.btn-success-outline:hover {
    color: white;
    background: rgb(28, 184, 65);
    border: 1px solid rgb(28, 184, 65) !important;
}
.btn-error-outline,
.btn-danger-outline {
    color: rgb(202, 60, 60);
    background: white;
    border: 1px solid rgb(202, 60, 60) !important;
}
.btn-error-outline:hover,
.btn-danger-outline:hover {
    color: white;
    background: rgb(202, 60, 60);
    border: 1px solid rgb(202, 60, 60) !important;
}
.btn-warning-outline {
    color: rgb(223, 117, 20);
    background: white;
    border: 1px solid rgb(223, 117, 20) !important;
}
.btn-warning-outline:hover {
    color: white;
    background: rgb(223, 117, 20);
    border: 1px solid rgb(223, 117, 20) !important;
}
.btn-secondary-outline {
    color: rgb(66, 184, 221);
    background: white;
    border: 1px solid rgb(66, 184, 221) !important;
}
.btn-secondary-outline:hover {
    color: white;
    background: rgb(66, 184, 221);
    border: 1px solid rgb(66, 184, 221) !important;
}

.btn-actionable {
    /** it is just class to mark buttons for public/js/ui.js. Adds spinner on button by click */
    /** used for buttons that start request, wait and redirects on other page */
}

/*** class .btn-in-action shows spinner on buttons ***/
@keyframes btn-spinner {
    to {transform: rotate(360deg);}
}
.btn-in-action {
    padding-right: 35px !important;
}
/** btn-action display hack #1 for buttons type of <input type="submit"> **/
.btn-in-action + span.btn-action-holder-for-input {
    position: relative;
    right: 35px;
    top: 7px;
}
.btn-in-action:after,
/** btn-action display hack #2 for buttons type of <input type="submit"> **/
.btn-in-action + span.btn-action-holder-for-input:after {
    display: inline-block;
    content: '';
    box-sizing: border-box;
    position: absolute;
    align-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid #000;
    border-right: 2px solid transparent;
    animation: btn-spinner .6s linear infinite;
    margin-left: 7px;
}
.btn-danger.btn-in-action:after,
.btn-warning.btn-in-action:after
{
    border-top: 2px solid #fff;
}
